.card {
	width: 300px;
	margin: 10px;
}

.card-img {
	height: 380px;
}

.btn {
	margin: 0;
}

.btn-link {
	text-decoration: none;
	color: aliceblue;
}

.btn-link:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
